<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Range Slider -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'jquery-ui-slider-pips.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui-slider-pips.min.css') }}">
    <script>
        $(function(){
            $("#slider-range_b").slider({
                tip:true,
                range: true,
                min: {{filters_base['seasonYear'].available_values[0]}},
                max: {{filters_base['seasonYear'].available_values[-1]}},
                values: [{{filters_base['seasonYear'].available_values[0]}}, {{filters_base['seasonYear'].available_values[-1]}}],

                slide: function (event, ui) {
                    {#$("#seasonYear_min_b").val(ui.values[0]);#}
                    {#$("#seasonYear_max_b").val(ui.values[1]);#}
                }
            }).slider("float");
            {#$("#seasonYear_min_b").val($("#slider-range_b").slider("values", 0));#}
            {#$("#seasonYear_max_b").val($("#slider-range_b").slider("values", 1));#}
        });

        $(function(){
            $("#slider-range_h").slider({
                range: true,
                min: {{filters_heat['seasonYear'].available_values[0]}},
                max: {{filters_heat['seasonYear'].available_values[-1]}},
                values: [{{filters_heat['seasonYear'].available_values[0]}}, {{filters_heat['seasonYear'].available_values[-1]}}],

                slide: function (event, ui) {
                    {#$("#seasonYear_min_h").val(ui.values[0]);#}
                    {#$("#seasonYear_max_h").val(ui.values[1]);#}
                }
            }).slider("float");
            {#$("#seasonYear_min_h").val($("#slider-range_h").slider("values", 0));#}
            {#$("#seasonYear_max_h").val($("#slider-range_h").slider("values", 1));#}
        });
    </script>

    <!-- Select2 Multiselect Dropdown -->
{#    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>#}
    <link href="https://cdn.jsdelivr.net/gh/djibe/material@4.5.3-rc3/css/material-plugins.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({});
        });
    </script>

    <!-- D3js -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'heatmap.min.js') }}"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>

    <!-- JS -->
    <script src="https://unpkg.com/topojson@3"></script>
    <script>
        var vertices = {{ basemap_points | safe }};
        var draw_cirlce = {{circle | safe}};
        var tag_names = {{ tags | safe  }};
        var edges = {{ basemap_edges | safe }};
        var heat_tags = {{ heat_tags | safe }};
    </script>

    <!-- TopoJson -->
    <script src="https://unpkg.com/topojson@3"></script>

    <!-- Our Stuff -->
    <title>Maps of Anime</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
</head>
<body>


<div class="container">
<h1 style="text-align: center;">Maps of Anime</h1>
<div class="row">
    <div style="float:left; width: 360px">
        <form method="post">
            <table id="form">
                <tr>
                    <td><h2>Basemap</h2></td>
                </tr>
                <tr>
                    <td><label>Studios: </label></td>
                    <td><select class="js-example-basic-multiple" name="studios_b[]" multiple="multiple">
                        <option value="All" {% if "All" in filters_base['studios'].selected_values %}
                                selected="true" {% endif %}>
                            All
                        </option>
                        {% for studio in filters_base['studios'].available_values %}
                            <option value="{{ studio }}" {% if studio in filters_base['studios'].selected_values %}
                                    selected="true" {% endif %}> {{ studio }}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td><label>Release Year: </label></td>
                    <td>
                        <input type="text" id="seasonYear_min_b" name="seasonYear_min_b" readonly
                               style="width: 40px; border:0;  font-weight:bold;">  <input type="text"
                                                                                           id="seasonYear_max_b"
                                                                                           name="seasonYear_max_b"
                                                                                           readonly
                                                                                           style="width: 40px; border:0;  font-weight:bold;">
                        <div id="slider-range_b" style="width: 95%"></div>
                    </td>

                </tr>
                <tr>
                    <td><label>Media Type: </label></td>
                    <td><select class="js-example-basic-multiple" name="format_b[]" multiple="multiple">
                        <option value="All" {% if "All" in filters_base['format'].selected_values %}
                                selected="true" {% endif %}>
                            All
                        </option>
                        {% for format in filters_base['format'].available_values %}
                            <option value="{{ format }}" {% if format in filters_base['format'].selected_values %}
                                    selected="true" {% endif %}> {{ format }}</option>
                        {% endfor %}
                    </select></td>
                </tr>
            </table>
            <table id="form">
                <tr>
                    <td><h2>Heatmap</h2></td>
                </tr>
                <tr>
                    <td><label>Studios: </label></td>
                    <td><select class="js-example-basic-multiple" name="studios_h[]" multiple="multiple">
                        <option value="All" {% if "All" in filters_heat['studios'].selected_values %}
                                selected="true" {% endif %}>
                            All
                        </option>
                        {% for studio in filters_heat['studios'].available_values %}
                            <option value="{{ studio }}" {% if studio in filters_heat['studios'].selected_values %}
                                    selected="true" {% endif %}> {{ studio }}</option>
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td><label>Release Year: </label></td>
                    <td>
                        <input type="text" id="seasonYear_min_h" name="seasonYear_min_h" readonly
                               style="width: 40px; border:0;  font-weight:bold;">  <input type="text"
                                                                                           id="seasonYear_max_h"
                                                                                           name="seasonYear_max_h"
                                                                                           readonly
                                                                                           style="width: 40px; border:0;  font-weight:bold;">
                        <div id="slider-range_h" style="width: 95%"></div>
                    </td>

                </tr>
                <tr>
                    <td><label>Media Type: </label></td>
                    <td><select class="js-example-basic-multiple" name="format_h[]" multiple="multiple">
                        <option value="All" {% if "All" in filters_heat['format'].selected_values %}
                                selected="true" {% endif %}>
                            All
                        </option>
                        {% for format in filters_heat['format'].available_values %}
                            <option value="{{ format }}" {% if format in filters_heat['format'].selected_values %}
                                    selected="true" {% endif %}> {{ format }}</option>
                        {% endfor %}
                    </select></td>
                </tr>
            </table>
            <div style="  width: 100%;">
                <input type="submit" class="btn btn-success"
                   style="background-color: #04AA6D;color: #ffffff;border-color: #04AA6D;float:right;}">
            </div>
        </form>
    </div>

    <div id="map" class="col-sm" style="">
    </div>
</div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'DrawMap.js') }}"></script>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>

</html>
